.about-page{
    margin-top: 50%;
    margin-bottom: 30%;
    display: grid;
    margin-top: 5%;
    grid-template-columns: 1fr 2.5fr;
    padding-top: 150px;
}

.resume-pic{
    width: 200px;
    border-radius: 100px;
    object-position: center;
    object-fit: contain;
}

.profile-div{
    object-position: center;
    padding-left: 15%;
}

.my-desc{
    line-height: 25px;
    margin-right: 50px;
    transition: transform 1s, color 1s, background-color 0.5s;
    text-align: justify;
    padding-right: 40px;
    padding-left: 30px;
    line-height: 25px;
    font-size: large;
}

.my-desc:hover{
    transform: scale(1.1);
    color: aquamarine;
    background-color: rgba(0, 0, 0, 0.2);
}
