.header{
    background-color: rgb(15 23 42);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /* width: 95%; */
    top: 0;
    left: 0px;
    right: 0px;
    height: 100px;
    z-index: 1;
}
.navbar{
    /* margin-top: 20px; */
    flex: 1;
    margin-left: 40px;
}
.button{
    flex: 1
}

.resume-btn{
    margin-top: 18px;
    margin-left: 35px;
    margin-right: 40px;
    color: rgb(59, 242, 181);
    height: 50px;
    width: 120px;
    background-color: rgb(30, 30, 59);
    border-radius: 25px;
    border-color: rgb(59, 242, 181);
    font-family: Courier;
    font-size: large;
    font-weight: bold;
    float: right;
    cursor: pointer;
    transition: color 0.2s, transform 0.5s;
}

nav{
    display: inline-block;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    display: inline-block;
    transition: transform 0.3s;
}
.navbar ul li{
    float: left;
}

.navbar ul :hover{
    transform: scale(1.1);
}

.navbar li a{
    display: block;
    color: rgb(59, 242, 181);
    font-size: 22px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    transition: color 0.5s, transform 0.5s;
}
li a:hover{
    color: white;
}


.resume-btn:hover{
    color: aliceblue;
    border-color: aliceblue;
    opacity: 0.9;
    transform: scale(1.1);
}
